.select-field {
    width: 100%;
    font-size: 1rem;
    position: relative;
}

.select-field-layout {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: var(--border-width) solid var(--input-border-color);
}

.select-field-layout::after {
    position: absolute;
    right: 0;
    bottom: -0.062rem;
    z-index: 1;
    display: block;
    width: 66%;
    height: 0.125rem;
    content: '';
    transform: scaleX(0);
}

.select-field--disabled {
    pointer-events: none;
    opacity: 0.6;
}

.select-field--focused .select-field-layout::after,
.select-field-layout:focus::after {
    background: linear-gradient(to right, var(--hover-icon-color), var(--active-item-color));
    transition-duration: 200ms;
    transform: scaleX(1);
}

.select-field-label {
    flex: 1;
    max-width: 34%;
    color: var(--label-color);
    font-weight: 700;
    font-size: 0.875em;
}

.select-field-asterisk {
    top: -0.1em;
    color: var(--error-text-color);
    font-size: 85%;
}

.select-field-input {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 66%;
    color: var(--bar-color);
}

.select-control {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5em;
    cursor: pointer;
}

.select-field-layout:focus {
    outline: none;
}

.select-control-text {
    overflow: hidden;
    width: calc(100% - 2.875rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.125em;
}

.select-control-icon {
    color: var(--select-option-icon-color);
    transition: 250ms;
}

.options-list {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: 14.125rem;
    width: 100%;
    border: var(--border-width) solid var(--input-border-color);
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background: white;
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.05);
    list-style: none;
    transform: translateY(100%);
}

.options-list-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    word-break: break-all;
    padding: 1em;
    height: 3.5rem;
    border-bottom: var(--border-width) solid var(--input-border-color);
    background: white;
    font-weight: 600;
    font-size: 1.125rem;
    cursor: pointer;
    user-select: none;
}

.options-list-item:last-child {
    border-bottom: none;
}

.options-list-item--selected {
    color: var(--label-color);
}

.options-list-item--hide {
    display: none;
}

.profile-form-tab-errors-feedback--hide {
    display: none;
}

.options-list-item--disabled {
    background: var(--disabled-select-option-bg-color) !important;
    color: var(--label-color) !important;
    cursor: not-allowed;
}

.options-list-item:focus {
    outline: var(--focused-control-outline);
}

/*.options-list-item:focus:not(:focus-visible) {*/
/*outline: none;*/
/*}*/

.options-list-item:hover {
    background: var(--select-option-hov-bg-color);
    color: white;
}

.select-field--focused .select-control-icon {
    transform: rotate(180deg);
}

.select-field-error {
    position: relative;
    margin-top: 1rem;
    padding: 1em 2em;
    border: 1px solid var(--error-border-light-color);
    background: transparent;
    color: var(--error-text-color);
    font-weight: 700;
    font-size: 0.75em;
    line-height: 1.4;
}

.select-field-error::before,
.select-field-error::after {
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    width: 0;
    height: 0;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-style: solid;
    border-color: transparent transparent var(--error-border-light-color) transparent;
    content: '';
}

.select-field-error::after {
    top: -0.375rem;
    border-bottom-color: white;
}

@media (max-width: 767px) {
    .select-field-layout {
        display: block;
    }

    .select-field-layout::after {
        width: 100%;
    }

    .select-field-label,
    .select-field-input {
        display: block;
        max-width: 100%;
        width: 100%;
    }

    .select-field-label {
        margin-bottom: 0.4em;
        font-size: 0.75em;
    }

    .select-field-input {
        width: 100%;
    }

    .select-control {
        height: 1.75rem;
    }

    .select-control-text {
        width: 100%;
        font-size: 1em;
        line-height: 1.25;
    }
}
