.show-transaction-page {
    padding: var(--page-paddings);
}

.show-transaction-page > h1 {
    margin: 0 0 1em 0;
    padding: 0;
    color: black;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

.show-transaction-page > h1 > .back-link {
    display: none;
}

.show-transaction-page-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.show-transaction-page-controls button {
    margin: 0 2em 2em 0;
}

@media (max-width: 1023px) {
    .show-transaction-page > h1 {
        display: flex;
        align-items: center;
        font-size: 1.375em;
    }

    .show-transaction-page > h1 > .back-link {
        display: inline-block;
        margin-right: 1rem;
    }

    .show-transaction-page > h1 > span {
        padding-top: 0.25em;
    }
}
