.profile-page {
    flex: 1 0 auto;
    box-sizing: border-box;
    height: 100%;
    text-align: left;
    background: white;
}

.profile-page-header {
    padding: 2.25em 2em 1.5em;
}

.profile-page-header > h1 {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
}

.profile-page-form {
    padding-bottom: 5.875em;
}

@media (max-width: 767px) {
    .profile-page > h1 {
        font-size: 1.375rem;
    }
}
