.restore-password-form {
    color: white;
    font-size: 1rem;
}

.restore-password-form-title {
    margin: 0 0 1.6em;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.5;
}

.email-field {
    margin-bottom: 3.5em;
}

.restore-password-form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-link {
    color: var(--link-color);
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
    transition: color 150ms;
}

.login-link:focus {
    outline: var(--focused-control-outline);
}

/*.login-link:focus:not(:focus-visible) {*/
/*outline: none;*/
/*}*/

.login-link:hover {
    color: white;
}

.login-link-icon {
    margin-right: 1.125em;
    color: var(--hover-icon-color);
}

@media (max-width: 767px) {
    .restore-password-form-actions {
        flex-wrap: wrap;
    }

    .restore-password-form-actions button {
        margin-bottom: 1.35em;
        width: 100%;
    }

    .login-link {
        width: 100%;
    }
}
