.reset-password-form {
    color: white;
    font-size: 1rem;
}

.reset-password-form-title {
    margin: 0 0 1.6em;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.5;
}

.confirm-field {
    margin-bottom: 3.5em;
}

.reset-password-form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-link {
    color: var(--link-color);
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
    transition: color 150ms;
}

.login-link:focus {
    outline: var(--focused-control-outline);
}

/*.login-link:focus:not(:focus-visible) {*/
/*outline: none;*/
/*}*/

.login-link:hover {
    color: #cc9900;
}

.login-link-icon {
    margin-right: 1.125em;
    color: var(--hover-icon-color);
}

.reset-password-container .password-field .text-field-label,
.reset-password-container .confirm-field .text-field-label {
    flex: 0 0 45%;
}

.reset-password-container .text-field-layout::after {
    width: 55%;
}

@media (max-width: 767px) {
    .reset-password-form-actions {
        flex-wrap: wrap;
    }

    .reset-password-form-actions button {
        margin-bottom: 1.35em;
        width: 100%;
    }

    .login-link {
        width: 100%;
    }

    .reset-password-container .text-field-layout::after {
        width: 100%;
    }
}
