.iban-field .text-field-label {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 36%;
}

.iban-field .text-field-helper-text {
    padding-left: 36%;
}

.iban-field .text-field-layout::after {
    width: 64%;
}

@media (max-width: 767px) {
    .iban-field .text-field-helper-text {
        margin-top: 0.75em;
        padding-left: 0;
    }

    .iban-field .text-field-layout::after {
        width: 100%;
    }
}
